[Desktop Entry]
Name=Produkt/Caledonia MoonNight
Comment=A remix from wonderful Produkt and Caledonia plasma themes!

X-KDE-PluginInfo-Author=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=ProduktCaledoniaMoonNight
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=Creative Commons BY-SA
X-KDE-PluginInfo-EnabledByDefault=true

